
html,body{
  /*height: 100%;*/
}

.body{
  /*height: 100%;*/
  position: relative;
}
.header{
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid  #43aea8;
  box-shadow: 0 2px 8px rgba(0,0,0,.06);
  font-size: 18px;
  font-family: 微软雅黑;
  position: fixed;
  top:0;
  z-index: 999;
}
.header img{
  height: 46px;
  margin-right: 5px;
}
.header .jiantou{
  position: absolute;
  left: 8px;
  width: 26px;
  height: 28px;
  margin-right: -1px;
}

.container{
  /*height: 100%;*/
  background: #e6eaed;
  margin-top: 50px;
  padding-bottom: 30px;
}
.index_header1 p,.index p{
  height: 30px;
  background: #fff;
  font-size: 16px;
  line-height: 30px;
  font-family: 微软雅黑;
  padding: 4px 10px;
}
.index_header1 img{
  width: 100%;
}
.index{
  width: 94%;
  background: #fff;
  margin: 10px auto;
}
.index div{
  width: 96%;
  height: 300px;
  /*style="width: 320px;height:280px;"*/
}
.chart_1 div>:nth-child(2){
  width: 35%;
  height: 30%;
  margin-right: 2%;
}
.chart_2 div>:nth-child(2){
  width: 35%;
  height: 69%;
  margin-right: 2%;
  display: none;
}

.history{
  width: 94%;
  background: #fff;
  margin:0 auto;
  padding-bottom: 20px;
}
.history_header{
  height: 46px;
  display:flex;
  justify-content: flex-start;
  margin-left: 8px;
}

.history_header .jk{
  font-size: 14px;
  line-height: 46px;
}
.dropdown{
  width: 30px;
  height: 46px;
  position: relative;
}
.dropdown button{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
}
.dropdown button{
  width: 29px;
  height: 29px;
}
.time_div{
  width: 66%;
  height: 30px;
  margin: 6px 0 0 10px;
  border: 1px solid #e6eaed;
  border-radius: 5px;
  overflow: hidden;
}
.time_div p{
  width: 90px;
  height: 30px;
  font-size: 14px;
  background: #e6eaed;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.time_div input{
  border: 0px solid;
  width: 140px;
  height: 30px;
  padding-left: 5px;
}
.button_01{
  background: #43aea8 url(../images/icon.png) no-repeat -32px -581px;
  width: 41px;
  height: 30px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
}
.history table{
  margin: 0 auto;
  width: 84%;
}
.history table tr{
  height: 37px;
}
.history table th{
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.history table td{
  border-top: 1px solid #ddd;
  text-align: center;
}
.history table tbody>tr:nth-child(odd){
  background: #f9f9f9;
}