
html,body{
  /*height: 100%;*/
}

.body{
  /*height: 100%;*/
  position: relative;
}
.top_bg{
  width: 100%;
  height: 1px;
  background: #e6eaed;
}
.header{
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid  #43aea8;
  box-shadow: 0 2px 8px rgba(0,0,0,.06);
  font-size: 18px;
  font-family: 微软雅黑;
  position: fixed;
  top:0;
  z-index: 999;
}
.header img{
  height: 46px;
  margin-right: 5px;
}
.header .jiantou{
  position: absolute;
  left: 8px;
  width: 26px;
  height: 28px;
  margin-right: -1px;
}

.container1{
  /*height: 100%;*/
  background: #e6eaed;
  margin-top: 50px;
  padding-bottom: 30px;
}
.index_header1{
  width: 94%;
  margin: 10px auto;
  padding: 0 5px 5px;
  background: white;
}
.index_header1 p,.index p{
  height: 30px;
  background: #fff;
  font-size: 16px;
  line-height: 30px;
  font-family: 微软雅黑;
  padding: 1px 10px;
  margin: 0;
}
.index_header1 img{
  width: 100%;
}
.index{
  width: 94%;
  background: #fff;
  margin: 10px auto;
}
.index>div{
  width: 96%;
  height: 300px;
  /*style="width: 320px;height:280px;"*/
}
.chart_1 div>:nth-child(2){
  width: 37%;
  /*height: 30%;*/
  margin-right: 2%;
}
.chart_2 div>:nth-child(2){
  width: 37%;
  /*height: 72%;*/
  margin-right: 2%;
  display: none;
}
.height_zhang{
  height: 32%;
}
.height_shen{
  height: 72%;
}
@media screen and (min-width:900px){
  .chart_1 div>:nth-child(2){
    width: 140px;
    /*height: 30%;*/
    margin-right: 2%;
  }
  .chart_2 div>:nth-child(2){
    width: 140px;
    /*height: 72%;*/
    margin-right: 2%;
    display: none;
  }
}


.history{
  width: 94%;
  background: #fff;
  margin:0 auto;
  padding: 10px 0 20px 0;
}
.history_header{
  height: 46px;
  display:flex;
  justify-content: flex-start;
  margin-left: 8px;
}

.history_header .jk{
  font-size: 14px;
  line-height: 46px;
}
.dropdown{
  width: 30px;
  height: 46px;
  position: relative;
}
.dropdown button{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
}
.dropdown button{
  width: 29px;
  height: 29px;
}
.time_div{
  width: 66%;
  height: 30px;
  margin: 6px 0 0 10px;
  border: 1px solid #e6eaed;
  border-radius: 5px;
  overflow: hidden;
}
.time_div p{
  width: 90px;
  height: 30px;
  font-size: 14px;
  background: #e6eaed;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.time_div input{
  border: 0px solid;
  height: 30px;
  padding-left: 5px;
  width:-webkit-calc(97% - 42px);
  width:-moz-calc(97% - 42px);
  width:calc(97% - 42px);
}
.button_01{
  background: #43aea8 url(../images/icon.png) no-repeat -32px -581px;
  width: 41px;
  height: 30px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
}
.history table{
  margin: 0 auto;
  width: 84%;
}
.history table tr{
  height: 37px;
}
.history table th{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.history table td{
  border-top: 1px solid #ddd;
  text-align: center;
}
.history table tbody>tr:nth-child(odd){
  background: #f9f9f9;
}
.zhe{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  background: rgba(148, 148, 148, 0.5);
  z-index: 9999;
  display: none;
}
.tip{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(29, 29, 29, 0.8);
  color: white;
  padding: 5px 12px;
  border-radius: 3px;
}

#select1 {
  min-width: 240px;
  left: -50px;
}
#select1 li{
  float: left;
  width: 26px;
}
#select1 li a{
  padding: 3px 5px;
}